@import "../../node_modules/css-reset-and-normalize/scss/reset-and-normalize.scss";

html {
    overflow-y: hidden;
}

body {
    margin: 0;
    position: relative;
    font-family: Open Sans, sans-serif;
    transition: transform 0.3s;

    &.rotate {
        transform: rotate(180deg);
    }
}

.cat-counter {
    position: absolute;
    top: 24px;
    right: 24px;
    font-size: 2rem;
    color: white;
}

p {
    // no select
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

section.screens {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;

    > ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        > li {
            width: 100%;
            height: 100vh;
            background-color: white;
            display: none;

            &.visible {
                display: flex;
            }

            &.main-menu {
                > p {
                    position: absolute;
                    top: calc(50% - 100px);
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                ul {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    list-style-type: none;
                    display: flex;
                    align-items: center;
                    flex-direction: column;

                    li {
                        button {
                            background: #df8f8f;
                            padding: 10px 20px 7px 20px;
                            border: none;
                            padding: 12px 24px;
                            border-bottom: 6px solid #8f585b;
                            box-shadow: rgba(0, 0, 0, 0.1) 4px 4px 0;
                            color: white;
                            transition: transform 0.3s, box-shadow 0.3s,
                                background 0.3s, border 0.3s;

                            &.active,
                            &:hover {
                                background: #e14242;
                                border-bottom: 6px solid #952025;
                                box-shadow: rgba(0, 0, 0, 0.1) 4px 6px 0;
                                transform: translateY(-2px);
                                cursor: pointer;
                            }

                            &:active {
                                transform: translateY(1px);
                                box-shadow: 0 6px 12px -2px rgba(50, 50, 93, 0.25),
                                    0 3px 7px -3px rgba(0, 0, 0, 0.3);
                            }
                        }

                        &:not(:last-child) {
                            margin-bottom: 24px;
                        }
                    }
                }
            }

            &.select-character {
                justify-content: center;
                align-items: center;
                flex-direction: column;

                > p {
                    width: 100%;
                    font-size: 2rem;
                    text-align: center;
                    margin-bottom: 24px;
                }

                > ul {
                    display: flex;

                    > li {
                        padding: 12px;
                        border: solid transparent 5px;
                        transition: border 0.15s;

                        &.active,
                        &:hover {
                            border: solid #e14242 5px;
                        }

                        &:not(:last-of-type) {
                            margin-right: 12px;
                        }

                        button {
                            width: 150px;
                            height: 200px;
                            background-size: cover;
                            border: 1px solid black;
                            background-color: transparent;
                            image-rendering: pixelated;

                            &.mads {
                                background-image: url("./../assets/characters/mads.png");
                            }

                            &.amanda {
                                background-image: url("./../assets/characters/amanda-walk-01.png");
                                height: 170px;
                            }
                        }
                    }
                }
            }
        }
    }
}
