@import "../../node_modules/css-reset-and-normalize/scss/reset-and-normalize.scss";

html {
    overflow-y: hidden;
}

body {
    margin: 0;
    position: relative;
    font-family: Open Sans, sans-serif;
    transition: transform 0.3s;

    &.rotate {
        transform: rotate(180deg);
    }
}

.cat-counter {
    position: absolute;
    top: 24px;
    right: 24px;
    font-size: 2rem;
    color: white;
}

.timer {
    position: absolute;
    top: 66px;
    right: 24px;
    font-size: 2rem;
    color: white;
}

p {
    // no select
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

section.screens {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;

    > ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        > li {
            width: 100%;
            height: 100vh;
            background-color: white;
            display: none;

            &.visible {
                display: flex;
            }

            &.main-menu {
                align-items: center;
                justify-content: center;
                flex-direction: column;

                > .container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    > p {
                        font-weight: bold;
                        font-size: 1.8rem;
                        margin-bottom: 24px;
                        max-width: 300px;
                        text-align: center;
                        line-height: 2.3rem;
                    }

                    button {
                        background: #df8f8f;
                        padding: 10px 20px 7px 20px;
                        border: none;
                        padding: 12px 24px;
                        border-bottom: 6px solid #8f585b;
                        box-shadow: rgba(0, 0, 0, 0.1) 4px 4px 0;
                        color: white;
                        transition: transform 0.3s, box-shadow 0.3s,
                            background 0.3s, border 0.3s;

                        &.active,
                        &:hover {
                            background: #e14242;
                            border-bottom: 6px solid #952025;
                            box-shadow: rgba(0, 0, 0, 0.1) 4px 6px 0;
                            transform: translateY(-2px);
                            cursor: pointer;
                        }

                        &:active {
                            transform: translateY(1px);
                            box-shadow: 0 6px 12px -2px rgba(50, 50, 93, 0.25),
                                0 3px 7px -3px rgba(0, 0, 0, 0.3);
                        }
                    }

                    &:not(:last-child) {
                        margin-bottom: 24px;
                    }
                }
            }

            &.select-character {
                justify-content: center;
                align-items: center;
                flex-direction: column;

                > p {
                    width: 100%;
                    font-size: 2rem;
                    text-align: center;
                    margin-bottom: 24px;
                }

                > ul {
                    display: flex;

                    > li {
                        padding: 12px;
                        border: solid transparent 5px;
                        transition: border 0.15s;

                        &.active,
                        &:hover {
                            border: solid #e14242 5px;

                            .player {
                                background-image: url("./../assets/characters/amanda-walking.gif");
                                background-color: black;
                            }
                        }

                        &:not(:last-of-type) {
                            margin-right: 12px;
                        }

                        button {
                            width: 150px;
                            height: 200px;
                            background-size: cover;
                            border: none;
                            background-color: transparent;
                            image-rendering: pixelated;

                            &.mads {
                                background-image: url("./../assets/characters/mads.png");
                            }

                            &.player {
                                background-image: url("./../assets/characters/amanda-static.png");
                                height: 200px;
                            }
                        }
                    }
                }
            }

            &.success {
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .container {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    img {
                        max-width: 300px;
                        margin-bottom: 24px;
                        box-shadow: rgba(51, 51, 53, 0.2) 0px 2px 10px 5px;
                    }

                    p {
                        margin-bottom: 24px;
                        font-size: 2rem;
                        font-weight: bold;
                        text-align: center;
                        line-height: 2.5rem;
                        max-width: 300px;
                    }
                }
            }

            &.you-died {
                align-items: center;
                justify-content: center;
                flex-direction: column;

                > .container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    p {
                        width: 100%;
                        font-size: 2rem;
                        text-align: center;
                        margin-bottom: 24px;
                    }

                    button {
                        background: #df8f8f;
                        padding: 10px 20px 7px 20px;
                        border: none;
                        padding: 12px 24px;
                        border-bottom: 6px solid #8f585b;
                        box-shadow: rgba(0, 0, 0, 0.1) 4px 4px 0;
                        color: white;
                        transition: transform 0.3s, box-shadow 0.3s,
                            background 0.3s, border 0.3s;

                        &.active,
                        &:hover {
                            background: #e14242;
                            border-bottom: 6px solid #952025;
                            box-shadow: rgba(0, 0, 0, 0.1) 4px 6px 0;
                            transform: translateY(-2px);
                            cursor: pointer;
                        }

                        &:active {
                            transform: translateY(1px);
                            box-shadow: 0 6px 12px -2px rgba(50, 50, 93, 0.25),
                                0 3px 7px -3px rgba(0, 0, 0, 0.3);
                        }
                    }
                }
            }
        }
    }
}
